<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirim.refrigerator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Refrigerator">
        <activity
            android:name=".view.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".RefrigeratorSearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.ingredient.SelectIngredientRegisterType"
            android:exported="false" />
        <activity
            android:name=".view.ingredient.QrScanActivity"
            android:exported="false" />
        <activity
            android:name=".view.ingredient.IngredientRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.InputGroupCodeActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.SelectRegisterTypeActivity"
            android:exported="false" />
        <activity
            android:name=".view.ShowGroupCodeActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.login.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.SigninActivity"
            android:exported="true" />
        <activity
            android:name=".view.BottomAppBarActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>